package recipe

import (
	"fmt"
	"github.com/alisdairrankine/cookbook"
)

templ RecipeList(recipies []cookbook.Recipe) {
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Serving Size</th>
			</tr>
		</thead>
		<tbody>
			for _,recipe := range recipies {
				@RecipeListItem(recipe)
			}
		</tbody>
	</table>
}

templ RecipeListItem(r cookbook.Recipe) {
	<tr>
		<td>{ r.Name }</td>
		<td>{ fmt.Sprintf("%d",r.Serves) }</td>
	</tr>
}
